/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* variable css */

:root {
    /* color */
    --first-color: hsl(192, 40%, 37%);
    --first-color-bright: hsl(192, 40%, 60%);
    --second-color: hsl(339, 77%, 59%);
    --third-color: hsl(43, 87%, 52%);
    --title-color: hsl(100, 0%, 0%);
    --text-color: hsl(100, 0% 60%);
    --body-color: #fff;
    --container-color: #fff;
    /* font */
    --body-font: "Noto Sans KR";
    --biggest-font-size: 2.26rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;
    /* font weight */
    --font-medium: 500;
    --font-bold: 700;
    /* z-index */
    --z-index: 100;
}


/* Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

nav i {
    font-size: 1.25rem;
}

nav a {
    color: #fff;
}

.nav-list {
    display: flex;
    color: aqua;
    column-gap: 0.75rem;
}

header {
    background-color: var(--first-color);
}

.nav-toggle {
    /* visibility: hidden; 보이지는 않지만 공간차지 */
    color: #fff;
    display: none;
}
.nav-logo {
    margin-left: 10px;
}
.nav-link {
    display: block;
}
/*HOME*/
h3 {
    font-size: var(--h3-font-size);
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;/*글자 내려쓰기*/
    column-gap: 60px;
    row-gap: 50px;
    margin: 44px 2rem;
}
.card {
    color: #5c5c5c;
    background-color: rgb(244, 244, 244);
    border-radius: 1rem;
    /* flex-grow: 1;
    flex-basis: 240px;
    flex-shrink: 0; */
    flex: 1 0 240px; /*기본 240px이고 커지면 확장하자*/
    max-width: 300px; /*너무 넓지 않게 max 정하자*/
}
.now,
.card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    /* x, y, 그림자, 색상 */
}
.now .card-time,
/* .card에 hover했을 때 .card-time 색상 변경 */
.card:hover .card-time {
    color: var(--third-color);
}
.card-image {
    border-radius: 1rem 1rem 0 0;
    height: 0;
    padding-bottom: 66.6666666667%; /*그림 비율 유지하며 확대/축소 : 160:240*/
    background: url('../img/plate_edit.png') center center;
    background-size: cover; /*이미지 반복패턴 안하게함*/
}
.card-description {
    margin: 1rem;
}
.card-title {
    display: flex;
    column-gap: 20px;
    justify-content: center; /*날짜 식 가운데 정렬*/
}
.card-menu {
    margin-top: 1rem;
    text-align: center;
}
/* breakpoints */


/* 2k & 4k */


/* moblie */


/*너비가 600px이하일 때*/

@media screen and (max-width: 600px) {
    header {
        background-color: var(--first-color-bright);
    }
    .nav-toggle {
        /* visibility: hidden; 보이지는 않지만 공간차지 */
        display: block;
        /*nav-logo 가운데 정렬을 위해*/
        position: absolute;
        margin-left: 10px;
        /*마우스 포인터: 손*/
        cursor: pointer;
    }
    .nav-logo {
        margin: 0 auto;
        /*밥아이콘 가운데 정렬*/
    }
    .nav-list {
        flex-direction: column;
        position: absolute;
        /* align-items: center; */
        left: 0;
        right: 0;
        top: 44px;
        background-color: #b9b9b9;
        height: 0;
        /*overflow: hidden 메뉴 안 보이게 하는 법*/
        overflow: hidden;
        transition: 0.3s;
    }
    .nav-item {
        padding: 0.5rem 0;
        border-bottom: 0.1px solid rgba(246, 243, 243, 0.555);
        text-align: center;
    }
    .show-menu {
        height: 164px;
    }
}