/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* variable css */

:root {
    /* color */
    --first-color: hsl(192, 40%, 37%);
    --first-color-bright: hsl(192, 40%, 60%);
    --second-color: hsl(339, 77%, 59%);
    --third-color: hsl(43, 87%, 52%);
    --title-color: hsl(100, 0%, 0%);
    --text-color: hsl(100, 0% 60%);
    --body-color: #fff;
    --container-color: #fff;
    /* font */
    --body-font: "Noto Sans KR";
    --biggest-font-size: 2.26rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;
    /* font weight */
    --font-medium: 500;
    --font-bold: 700;
    /* z-index */
    --z-index: 100;
}


/* Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

nav i {
    color: #fff;
}

.nav-list {
    display: flex;
    color: aqua;
    column-gap: 0.75rem;
}

header {
    background-color: var(--first-color);
}


/* breakpoints */


/* 2k & 4k */


/* moblie */