/* 우선순위: 포괄 < 구체 */


/* 우선순위: class < id << !important */


/* 우선순위: 같은 급일 때, 위 < 아래 코드 */

body {
    color: gray;
}

body li,
h5 {
    color: teal;
}

.korea {
    color: red !important;
}

.incheon {
    color: blue;
}

#leader {
    color: gold;
}

h1+h2 {
    background-color: skyblue;
}

h2~h3 {
    background-color: aqua;
}

li:nth-child(2) {
    /* n번째 자식*/
    text-decoration: underline;
}

[type="password"] {
    /* HTML 태그 속성="값 */
    background-color: chocolate;
}

body>ul>ul:nth-child(4)>li:nth-child(3) {
    /*li nth-child(n) : li의 n번째 자식*/
    /* first-child: 첫째 last-child: 막내 */
    text-decoration: underline;
}

body>ul>li:nth-child(3) {
    background-color: deepskyblue;
}